@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: var(--inter-font);
}
body {
  margin: 0;
  overflow-x: hidden;
  color: #000;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h1,
h2 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.1875;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: -0.75px;
  line-height: 1.2;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.1875;
  color: #a0a0a0;
  font-weight: normal;
}

p {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
  color: #464646;
}

button {
  border: 0;
  font-weight: 700;
  line-height: 2;
  padding: 0.5em 1em;
  border: 2px solid black;
  margin-right: 0.5em;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}
