@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: var(--inter-font);
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #000;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  line-height: 0.8;
  font-family: var(--albertSans-font);
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
  color: #a0a0a0;
  font-weight: normal;
}

button {
  border: 0;
  font-weight: 700;
  padding: 1em;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}
